@charset "UTF-8";

body {
    background-color: #d7f1bc;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
#wrap {
    width: 700px;
    margin: auto;
    background-color: #ffe881;
    padding: 20px;
    border-radius:30px;
}
#playerbox {
    margin-left: 25px;
}
a {
    color: #09308a;
}
.navi_contents {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.navi_contents ul {
    list-style: none;
}
.navi_contents li {
    margin: 5px;
}
.navi_contents li:empty {
    height: 20px;
}
.chapter {
    color: #09308a;
    cursor: pointer;
}
