@charset "UTF-8";

.frame {
    font-size: 0px;
}
.main_contents {
    display: inline-block;
    font-size: 16px;
}
.navi_contents {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.navi_contents ul {
    list-style: none;
}
.navi_contents li {
    margin: 5px;
}
.navi_contents li:empty {
    height: 20px;
}
.chapter {
    color: blue;
    cursor: pointer;
}
